@using PeliculasFede2023
@using PeliculasFede2023.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="c:\users\fede\downloads\peliculasfede2023\peliculasfede2023\views\_viewimports.cshtml">c:\users\fede\downloads\peliculasfede2023\peliculasfede2023\views\_viewimports.cshtml</a>